a,
a:active,
a:visited {
    color: #71b4eb;
    text-decoration: none;
}

.active_datapoint {
    fill: #fff;
}

.area1-color {
    fill: #ffd300;
}

.area2-color {
    fill: #18ff00;
}

.area3-color {
    fill: #ff0000;
}

.baselines line {
    stroke: #fff;
}

.baselines text {
    fill: #fff;
}

body {
    background-color: #272727;
    color: #e8e8e8;
}

circle {
    fill: #ffcb00;
}

.divider {
    color: #f1f1f1;
    opacity: 0.1;
}

#footer {
    border-top-color: #3b3b3b;
}

.goal line {
    stroke: #fff;
}

.goal text {
    fill: #fff;
}

#head {
    color: #f1f1f1;
}

.markers line {
    stroke: #fff;
}

.markers text {
    fill: #fff;
}

h2.chart_title span {
    color: #f1f1f1;
}

.light-bg {
    background-color: #3b3b3b;
}

.line1-color {
    stroke: #ffd300;
}

.line2-color {
    stroke: #18ff00;
}

.line3-color {
    stroke: #ff0000;
}

#logo g path {
    fill: #fff;
}

.missing {
    background-image: url(../images/missing-data-dark.png);
}

.popover {
    color: #737373;
}

text {
    fill: #fff;
}

.trunk-section {
    border-top-color: #5e5e5e;
}

.x-axis line,
.y-axis line {
    stroke: #fff;
}

.x-axis text,
.y-axis text {
    fill: #fff;
}

.year-marker text {
    fill: #fff;
}

.year-marker line {
    stroke: #fff;
}

.btn-group, .btn-group-sm {
    background-color:inherit;
}