a,
a:active,
a:visited {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: steelblue;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif, Arial;
}

.btn-group {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.btn-group span.which-button {
    font-weight: 300;
    color: darkgray;
}

.btn-group span.title {
    margin-left: 8px;
    margin-right: 8px;
}

.divider {
    color: #000000;
    opacity: 0.2;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 24px;
}

#torso {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#torso div {
    display: inline-block;
}

#trunk {
    margin-top: 40px;
}

#trunk h2 {
    font-size: 15px;
}

#trunk h2.trunk-title {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

.trunk-section {
    border-top: 1px solid #ccc;
    padding-bottom: 25px;
    padding-top: 15px;
}