body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif, Arial;
}

.gr {
    text-align:center;
}


div#trunk {
    margin-top:40px;
}

div#trunk h2 {
    font-size: 15px;
}

div#trunk h2.trunk-title {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

div.trunk-section {
    border-top: 1px solid #cccccc;
    padding-top: 15px;
    padding-bottom: 25px;
}

a,
a:active,
a:visited {
    color: #4a87ba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pill:hover {
    text-decoration: none;
}

a.active {
    background-color: steelblue;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 5px;
}

.area1-color {
    fill: #0000ff;
}

.area2-color {
    fill: #05b378;
}

.area3-color {
    fill: #db4437;
}

circle {
    fill: #0000ff;
    opacity: 0.85;
}

.markers line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
}

.markers text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
    stroke: none;
}


.baselines line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
}

.baselines text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
    stroke: none;
}

#description {
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
}

.divider {
    color: #000000;
    opacity: 0.2;
}

.goal line {
    opacity: 0.5;
    stroke: blue;
    stroke-width: 1
}

.goal text {
    fill: blue;
    font-size: 8px;
    font-weight: 600;
    opacity: 0.3;
}

.goals_rollover_text {
    fill: black;
    font-size: 11px;
    font-weight: 400;
}

h2.chart_title {
    cursor: pointer;
    font-weight: 400;
}

h2.chart_title .fa {
    color: #cccccc;
    font-size: 14px;
    padding-left: 4px;
    vertical-align: top;
}

#head {
    color: #ccccc;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
}

#head h1 {
    font-size: 50px;
    font-weight: 300;
    margin: 45px 0 0 0;
}

#head ul {
    font-size: 14px;
    clear: both;
    padding: 10px 0 0 0;
}

#head ul li {
    display: inline;
    list-style: none;
    padding-right: 15px;
}

.line1-color {
    stroke: #0000ff;
}

.line2-color {
    stroke: #05b378;
}

.line3-color {
    stroke: #db4437;
}

.missing {
    background-image: url(../images/missing-data.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
}

.missing-pane {
    fill: none;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

path.main-area {
    opacity: 0.2;
    stroke: none;
}

path.main-line {
    opacity: 0.8;
    fill: none;
}

.pill {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    text-transform: uppercase;
}

text {
    opacity: 0.8;
    fill: black;
}

.text-center {
    text-align: center;
}

#torso {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#torso div {
    display: inline-block;
}

.x-axis line,
.y-axis line {
    opacity: 0.3;
    shape-rendering: crispEdges;
    stroke: black;
}

.x-axis text,
.y-axis text {
    fill: black;
    font-size: 11px;
    opacity: 0.5;
}

.x-axis-small text,
.y-axis-small text {
  font-size:8px;
}

.year-marker text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
}

.year-marker-small text {
  font-size:8px;
}