#long svg .y-axis line,
#fake_users3 svg .y-axis line {
    opacity: 0.1;
}

#confidence_band svg .x-axis line {
    opacity: 0.1;
}

.wip {
    font-size: 15px;
    margin-top: 60px;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    opacity: 0.8;
}