a,
a:active,
a:visited {
    color: #4a87ba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.active_datapoint {
    fill: black;
    font-size: 11px;
    font-weight: 400;
}

a.active {
    background-color: steelblue;
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 5px;
}

.area1-color {
    fill: #0000ff;
}

.area2-color {
    fill: #05b378;
}

.area3-color {
    fill: #db4437;
}

.baselines line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

.baselines text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
    stroke: none;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif, Arial;
}

circle {
    fill: #0000ff;
    opacity: 0.85;
}

#description {
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
}

.divider {
    color: #000000;
    opacity: 0.2;
}

#footer {
    border-top: 1px solid #ccc;
    font-size: 11px;
    padding: 40px;
    text-align: center;
}

.gr {
    text-align: center;
}

h2.chart_title {
    cursor: pointer;
    font-size: 22px;
    margin-left: 15px;
}

h2.chart_title .fa {
    color: #ccc;
    font-size: 14px;
    padding-left: 4px;
    vertical-align: top;
}

#head {
    color: black;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
}

#head h1 {
    font-size: 50px;
    font-weight: 300;
    margin: 45px 0 0 0;
}

#head ul {
    clear: both;
    font-size: 14px;
    padding: 10px 0 0 0;
}

#head ul li {
    display: inline;
    list-style: none;
    padding-right: 15px;
}

.light-bg {
    background-color: #f1f1f1;
}

.line1-color {
    stroke: #0000ff;
}

.line2-color {
    stroke: #05b378;
}

.line3-color {
    stroke: #db4437;
}

#logo {
    margin: 60px 0 30px 0;
    height: 79px;
    width: 400px;
}

.main-area-solid svg .main-area {
    fill: #ccccff;
    opacity: 1;
}

.markers line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

.markers text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
    stroke: none;
}

.missing {
    background-image: url(../images/missing-data.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
}

.missing-pane {
    fill: none;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

path.main-area {
    opacity: 0.2;
    stroke: none;
}

path.confidence-band {
    fill: #ccc;
    opacity: 0.4;
    stroke: none;
}

path.main-line {
    fill: none;
    opacity: 0.8;
    stroke-width: 1.1px;
}

.pill:hover {
    text-decoration: none;
}

.pill {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    text-transform: uppercase;
}

.points circle {
    fill: #0000ff;
    fill-opacity: 0.4;
    stroke: #0000ff;
    stroke-opacity: 1;
}

.points circle.selected {
    fill: #3b3b3b;
    fill-opacity: 1;
    stroke-opacity: 1;
}

.points circle.unselected {
/*    fill-opacity:.2;
    stroke-opacity:.5;*/
}

text {
    fill: black;
    opacity: 0.8;
}

.text-center {
    text-align: center;
}

#torso {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#torso div {
    display: inline-block;
}

#trunk {
    margin-top:40px;
}

#trunk h2 {
    font-size: 15px;
}

#trunk h2.trunk-title {
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
}

.trunk-section {
    border-top: 1px solid #ccc;
    padding-bottom: 25px;
    padding-top: 15px;
}

.voronoi path {
    fill: none;
    pointer-events: all;
    stroke: none;
    stroke-opacity: 0.1;
}

.x-axis line,
.y-axis line {
    opacity: 0.3;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

.x-axis text,
.y-axis text {
    fill: black;
    font-size: 11px;
    opacity: 0.5;
}

.x-axis .label,
.y-axis .label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.x-axis-small text,
.y-axis-small text {
    font-size: 8px;
}

.x-axis-small .label,
.y-axis-small .label {
    font-size: 8.5px;
}

.year-marker text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
}

.year-marker line {
    shape-rendering: crispEdges;
    opacity: 0.2;
    stroke: black;
    stroke-width: 1;
}

.year-marker-small text {
    font-size: 8px;
}