body {
    background-color: #fcfcfc;
}

.api-example {
    margin: 80px 0 40px 0;
    width: 100%;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.api-example pre {
    background-color: #f1f1f1;
    border: none;
    margin: 0 0 0 0 ;
}

.container {
    width: 680px;
}

.fa {
    background-color: #044f89;
    color: transparent;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    padding: 10px;
}

#fb-block {
    display: inline;
    margin-top: 20px;
    padding-left: 6px;
    position: relative;
    top: 0;
    width: 60px;
}

p {
    padding-top: 6px;
}

.social-buttons {
    background-image: url(../images/divider.png);
    background-repeat: no-repeat;
    background-position: center 35px;
    padding-top: 80px;
}

.thumb {
    padding: 0 35px 0 35px;
}

.thumb a {
    color: #044f89;
}

.thumb a span.text {
    font-size: 12px;
    letter-spacing: 1;
    text-transform: uppercase;
}

.thumb a:hover span.text {
    border-bottom: 1px solid #044f89;
}

.thumb a:hover {
    text-decoration: none;
}

#twitter-block {
    display: inline;
    overflow: hidden;
    padding-top: 2px;
    position: relative;
    top: 0;
}