.active_datapoint {
    fill: black;
    font-size: 11px;
    font-weight: 400;
}

.area1-color {
    fill: #0000ff;
}

.area2-color {
    fill: #05b378;
}

.area3-color {
    fill: #db4437;
}

.area4-color {
    fill: #f8b128;
}

.area5-color {
    fill: #5c5c5c;
}

.barplot rect.bar {
    shape-rendering: crispEdges;
        fill: #b6b6fc;

}

.barplot rect.bar.active {
    fill: #9e9efc;
}

.barplot .bar-prediction {
    fill: #5b5b5b;
}

.barplot .bar-baseline {
    stroke: #5b5b5b;
    stroke-width: 2;
}

.baselines line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

.baselines text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
    stroke: none;
}

.chart_title .popover {
    font-size: 12px;
}

.chart_title .popover-content {
    cursor: auto;
    line-height: 17px;
}

.chart_title .popover.top {
    margin-top: 0;
}

.chart_title {
    cursor: default;
    font-size: 22px;
    padding-top: 8px;
    text-align: center;
}

.chart_title .fa {
    color: #ccc;
    font-size: 14px;
    padding-left: 4px;
    vertical-align: top;
}

.chart_title .fa.warning {
    font-weight: 300;
}

circle {
    /*fill: #0000ff;*/
    opacity: 0.85;
}

.extended-y-ticks svg .y-axis line {
    opacity: 0.07;
}

.extended-x-ticks svg .x-axis line {
    opacity: 0.1;
}

.histogram .axis path,
.histogram .axis line {
    opacity: 0.7;
    fill: none;
    shape-rendering: crispEdges;
    stroke: #ccc;
}

.histogram .bar rect {
    shape-rendering: crispEdges;
    fill: #b6b6fc;
}

.histogram .bar rect.active {
    fill: #9e9efc;
}

.least-squares-line {
    stroke-width: 1;
    stroke: red;
}

.lowess-line {
    stroke: red;
    fill: none;
}

.line1-color {
    stroke: #4040e8;
}

.line2-color {
    stroke: #05b378;
}

.line3-color {
    stroke: #db4437;
}

.line4-color {
    stroke: #f8b128;
}

.line5-color {
    stroke: #5c5c5c;
}

.line1-legend-color {
    color: #4040e8;
}

.line2-legend-color {
    color: #05b378;
}

.line3-legend-color {
    color: #db4437;
}

.line4-legend-color {
    color: #f8b128;
}

.line5-legend-color {
    color: #5c5c5c;
}

.legend {
    font-size: 11px;
    padding: 25px 0 15px 0;
}

.main-area-solid svg .main-area {
    fill: #ccccff;
    opacity: 1;
}

.markers line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

.markers text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
    stroke: none;
}

.missing {
    background-image: url(../images/missing-data.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% 90%;
}

.missing-pane {
    fill: none;
}

path.main-area {
    opacity: 0.2;
    stroke: none;
}

path.confidence-band {
    fill: #ccc;
    opacity: 0.4;
    stroke: none;
}

path.main-line {
    fill: none;
    opacity: 0.8;
    stroke-width: 1.1px;
}

.points circle {
    fill-opacity: 0.4;
    stroke-opacity: 1;
}

circle.points-mono {
    fill: #0000ff;
    stroke: #0000ff;
}

/* a selected point in a scatterplot */
.points circle.selected {
    fill-opacity: 1;
    stroke-opacity: 1;
}

text {
    fill: black;
    opacity: 0.8;
}

.voronoi path {
    fill: none;
    pointer-events: all;
    stroke: none;
    stroke-opacity: 0.1;
}

.x-rug-mono,
.y-rug-mono {
    stroke: black;
}

.x-axis line,
.y-axis line {
    opacity: 0.3;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

.x-axis text,
.y-axis text,
.histogram .axis text {
    fill: black;
    font-size: 11px;
    opacity: 0.5;
}

.x-axis .label,
.y-axis .label,
.axis .label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.x-axis-small text,
.y-axis-small text,
.active-datapoint-small {
    font-size: 8px;
}

.x-axis-small .label,
.y-axis-small .label {
    font-size: 8.5px;
}

.year-marker text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
}

.year-marker line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
}

.year-marker-small text {
    font-size: 8px;
}

/* data tables */
tr.header-row {
    margin-bottom:10px;
}

table.data-table {
    margin:auto;
}

th.data-table-th {
    border-bottom: 1px solid darkgray;
    font-weight: 300;
    margin: 2px;
    margin-bottom: 10px;
    text-align: right;
}

.data-table .secondary-title {
    color: darkgray;
}

td.data-table {
    margin: 2px;
    padding: 5px;
    vertical-align: top;
}

td.table-text {
    font-style: italic;
    opacity: 0.8;
    padding-left: 30px;
}