.extended-y-ticks svg .y-axis line {
    opacity: 0.1;
}

.extended-x-ticks svg .x-axis line {
    opacity: 0.1;
}

.wip {
    font-size: 15px;
    margin-top: 60px;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    opacity: 0.8;
}