.area1-color {
    fill: #0000ff;
}

.area2-color {
    fill: #05b378;
}

.area3-color {
    fill: #db4437;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif, Arial;
}

circle {
    fill: #0000ff;
    opacity: 0.85;
}

.markers line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
}

.markers text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
    stroke: none;
}


.baselines line {
    opacity: 0.2;
    shape-rendering: crispEdges;
    stroke: black;
}

.baselines text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
    stroke: none;
}

#description {
    margin: auto;
    margin-bottom: 50px;
    min-width: 700px;
    width: 80%;
}

.goal line {
    opacity: 0.5;
    stroke: blue;
    stroke-width: 1
}

.goal text {
    fill: blue;
    font-size: 8px;
    font-weight: 600;
    opacity: 0.3;
}

.goals_rollover_text {
    fill: black;
    font-size: 11px;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    margin-bottom: 0;
}

#head {
    margin-bottom: 20px;
}

#head h1 {
    font-size: 50px;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

.line1-color {
    stroke: #0000ff;
}

.line2-color {
    stroke: #05b378;
}

.line3-color {
    stroke: #db4437;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 16px;
}

path.main-area {
    opacity: 0.2;
    stroke: none;
}

path.main-line {
    opacity: 0.8;
    fill: none;
}

text {
    opacity: 0.8;
    fill: black;
}

#torso {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#torso div {
    display: inline-block;
}

.transparent-rollover-rect {
    opacity: 0;
}

.x-axis line,
.y-axis line {
    opacity: 0.3;
    shape-rendering: crispEdges;
    stroke: black;
}

.x-axis text,
.y-axis text {
    fill: black;
    font-size: 11px;
    opacity: 0.5;
}

.year-marker text {
    fill: black;
    font-size: 9px;
    opacity: 0.5;
}