sudo: required
language: node_js
node_js:
  - "8"
addons:
    chrome: stable
before_script:
    - sudo chown root /opt/google/chrome/chrome-sandbox
    - sudo chmod 4755 /opt/google/chrome/chrome-sandbox
script: npm run test-ci
before_deploy:
  - cp dist/metricsgraphics.css dist/metricsgraphics.min.js .
  - cp -r examples/* .
  - cp -r src/js/* js
deploy:
  - provider: npm
    email: wrlach@gmail.com
    api_key:
      secure: YQ2Rusxq4Z07D3YD+9IoK4FtJI+W3I27B2nimf3H1xgJHlWUDquENJylSEhmUlUg9g1hj0QAsrcTihrdtRBS3p81RW7yXVVA9s6gC6830AJP77sGSqI/rK6erFk9s12f42Nr6d7MArBUTj6mxET+I7p3rKYbmY+8oePH9bnSN3c=
    on:
      tags: true
      repo: metricsgraphics/metrics-graphics
  - provider: pages
    skip-cleanup: true
    github-token: $GITHUB_TOKEN
    on:
      tags: true
      branch: master
