html {
    font-size: 16px;
}

.mg-x-axis text,
.mg-y-axis text,
.mg-histogram .axis text {
    opacity: 0.9;
}

.mg-x-axis line,
.mg-y-axis line {
    opacity: 1;
}

.mg-markers text,
.mg-year-marker text,
.mg-baselines text {
    opacity: 0.9;
}

.mg-markers line,
.mg-year-marker line,
.mg-baselines line {
    opacity: 1;
}