name: PR Gate
on:
  push:
    branches-ignore:
      - gh-pages

jobs:
  lint-lib:
    name: Lint Library
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: "yarn"
      - run: yarn
      - name: Run ESLint
        run: yarn lint
        working-directory: ./lib